<div class="container">
    <div class="row">
        <div class="col">
            {{!-- imagen --}}
        </div>
        <div class="col">
            {{!-- descripcion --}}
        </div>
    </div>
</div>