<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">

  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

  <link rel="stylesheet" href="/stylesheets/aos.css">

  <link rel="stylesheet" href="/stylesheets/ionicons.min.css">

  <link rel="stylesheet" href="/stylesheets/flaticon.css">
  <link rel="stylesheet" href="/stylesheets/icomoon.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
    id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Digi<span>Lab</span></a>
      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
        data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Inicio</span></a></li>
          <li class="nav-item"><a href="#categories" class="nav-link"><span>Categorias</span></a></li>
          <li class="nav-item"><a href="#projects-section" class="nav-link"><span>Productos</span></a></li>
          <li class="nav-item"><a href="#about-section" class="nav-link"><span>Nosotros</span></a></li>
          <li class="nav-item"><a href="#testimonios" class="nav-link"><span>Clientes</span></a></li>
          <li class="nav-item"><a href="/contacto" class="nav-link"><span>Contacto</span></a></li>

        </ul>
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery-migrate-3.0.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.easing.1.3.js"></script>
  <script src="/javascripts/jquery.waypoints.min.js"></script>
  <script src="/javascripts/jquery.stellar.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/jquery.animateNumber.min.js"></script>
  <script src="/javascripts/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/javascripts/google-map.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>